@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
body {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at bottom,
    rgb(37, 37, 93),
    rgb(27, 27, 41)
  );
}

html {
  font-family: "DotGothic16", sans-serif;
  font-size: 62.5%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: rgb(83, 83, 170);
  text-shadow: 0 0.2rem 5rem rgb(119, 115, 115);
  text-transform: uppercase;
  margin: 4rem 0;
}

.search-form {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 48, 105);
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 10px rgb(69, 69, 144);
  position: relative;
}

.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 25rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 48, 105);
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  text-shadow: 0 0.2rem 5rem rgb(119, 115, 115);
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  padding: 10px 0;
  font-size: 1.8rem;
  color: #40b48e;
  text-align: center;
}

.recipe button,
.submit-btn {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(83, 83, 170);
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  cursor: pointer;
}
.submit-btn {
  padding: 7px 10px;
  font-size: 17px;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: rgb(83, 83, 170);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #eee;
  letter-spacing: 1px;
}

.ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
}

@media (min-width: 375px) {
  .recipe {
    width: 280px;
  }
}

@media (min-width: 768px) {
  .recipe {
    width: 230px;
  }
}
@media (min-width: 1024px) {
  .recipe {
    width: 300px;
  }
}
